:root {
  /* body background color */
  --dark-background: rgb(10, 10, 10);
  --bd-bg-opacity: 1;
  --bg-gl-opacity: 0.01;
  --bg-gl-size: 9px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  border-color: hsl(240, 5.9%, 90%);
}

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.bg-dark {
  background-color: var(--dark-background, var(--bd-bg-opacity));
}

body {
  font-family: 'Oxanium', sans-serif;
  font-style: normal;
  color: #ffff;
}

h2 {
  font-size: clamp(2.5rem, 3.5vw, 4.1vw);
  font-weight: 700;
}

.app {
  height: 100%;
  min-height: 100vh;
  width: 100%;

  /* Dark background */
  background-color: var(--dark-background);

  /* Grid pattern (white lines with 8% opacity) */
  background-image: linear-gradient(
      rgba(255, 255, 255, var(--bg-gl-opacity)) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, var(--bg-gl-opacity)) 1px,
      transparent 1px
    );
  background-size: var(--bg-gl-size) var(--bg-gl-size);
  background-position: top left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive (md:) */
@media (min-width: 768px) {
  .app {
    /* keep same grid on medium+ screens */
    background-image: linear-gradient(
        rgba(255, 255, 255, var(--bg-gl-opacity)) 1px,
        transparent 1px
      ),
      linear-gradient(
        90deg,
        rgba(255, 255, 255, var(--bg-gl-opacity)) 1px,
        transparent 1px
      );
    background-size: var(--bg-gl-size) var(--bg-gl-size);
  }
}

.app-bg__overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--dark-background);

  /* Mask effect (radial gradient) */
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    transparent 100%,
    black
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(ellipse at center, transparent 100%, black);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.app-width {
  width: 100%;
}

.app-container {
  width: 83.333333%;
  margin-left: auto;
  margin-right: auto;
  max-width: 110rem;
}

@media (min-width: 768px) {
  .my-box {
    width: 66.666667%;
  }
}

/* Header Section Styling */
.hero-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.hero-container__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* background icon styling */
.logo-react {
  color: #4ade80;
  position: absolute;
  font-size: 80px;
  top: 10%;
  left: 5%;
  opacity: 0.15;
}

.logo-tailwind {
  color: #4ade80;
  position: absolute;
  font-size: 80px;
  top: 20%;
  right: 10%;
  opacity: 0.15;
}

.logo-javascript {
  color: #4ade80;
  position: absolute;
  font-size: 80px;
  bottom: 15%;
  left: 15%;
  opacity: 0.15;
}

.logo-sass {
  color: #4ade80;
  position: absolute;
  font-size: 80px;
  top: 40%;
  right: 30%;
  opacity: 0.15;
}

.logo-vercel {
  color: #4ade80;
  position: absolute;
  font-size: 80px;
  bottom: 50%;
  right: 50%;
  opacity: 0.15;
}

/* hero-section-box */
.hero-container__box {
  display: inline-block;
  z-index: 10;
  letter-spacing: 0.025em;
}

.hero-container__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.hero-title__overlay {
  color: #15803d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  /* margin-bottom: 2rem; */
}

/* md: ≥768px */
@media (min-width: 768px) {
  .hero-title__overlay {
    text-align: left;
    padding-right: 1rem;
  }
}

/* lg: ≥1024px */
@media (min-width: 1024px) {
  .hero-title__overlay {
    font-size: 1.875rem;
  }
}
